html {
  scroll-behavior: smooth;
}

.container {
  padding: 0;
  margin: 0 auto;
  .jumbotron {
    padding: 0;
  }
}

/* Carousel base class */
.carousel {
  margin-top: 0;
  margin-bottom: 0;
  height: 100%;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  background-image: url(../../img/banners/home.jpg);
  background-size: cover;
  background-position: center;
  max-width: 100%;
  padding: 5rem 2rem;
  .first-slide {
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 30px;
    width: 100% !important;
  }
}

/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */

.col-lg-4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 20;
}

.left,
.middle,
.right {
  width: 100%;
  height: 100%;
  margin-top: 2rem;
  margin-bottom: 2rem;
  border-radius: 5px;
}

.left {
  background-color: #033f67;
}

.middle {
  background-color: #d8881f;
}

.right {
  background-color: #284322;
}

.marketing {
  width: 90% !important;
  margin: 0 auto !important;
  h2 {
    font-weight: 400;
  }
  .row {
    .col-lg-4 {
      margin-bottom: 4rem;
      text-align: center;
      .left {
        h2.title {
          color: white;
          margin-top: 3%;
          font-size: 1.3rem;
        }
      }
      .middle {
        h2.title {
          color: white;
          margin-top: 3%;
          font-size: 1.3rem;
        }
      }
      .right {
        h2.title {
          color: white;
          margin-top: 3%;
          font-size: 1.3rem;
        }
      }
    }
  }
  .pageTitle {
    font-size: 2rem;
    margin-top: 3%;
    margin-left: 0;
    text-align: center;
  }

  .description {
    font-size: 0.9rem;
    margin-top: 2%;
    text-align: justify;
  }
}

// overlay
#overlay {
  position: fixed;
  display: none;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #d8881f;
  z-index: 500;
  /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer;
  /* Add a pointer on hover */
}

.content {
  position: relative;
  height: 100%;
  width: 100%;
}

.inner {
  position: absolute;
  top: 56px;
  bottom: 0;
  overflow-x: hidden;
  overflow-y: scroll;
}

.imgholder {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.banner {
  margin: 0 auto;
  width: 80%;
  overflow: hidden;
  img {
    width: 100%;
  }
}

.classname {
  background-color: rgb(211, 211, 211);
  margin: 0 auto;
  width: 80%;
  padding: 0.5rem 0;
  h2 {
    text-transform: uppercase;
    font-size: 1.1rem;
    margin: 0;
  }
}

.featurette {
  margin-left: 10%;
  margin-right: 10%;
  p {
    margin-left: 5px;
    font-size: 0.9rem;
  }
  h2 {
    margin-left: 5px;
    margin-top: 4%;
  }
}

.mid p {
  margin-right: 5%;
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 400;
  line-height: 1;
  letter-spacing: 1px;
  font-size: 1.2rem;
}

.col-md-5 {
  transform: translateX(40%);
  margin-top: 5%;
}

.top,
.bot {
  background-color: rgb(240, 255, 240);
  padding-bottom: 2%;
}

.bot ul {
  margin-left: 10%;
}

.bot h2 {
  margin-bottom: 5%;
}

.bot {
  padding-top: 2%;
}

.mid {
  background-color: #558f98;
  color: white;
  padding-top: 1%;
  padding-bottom: 2%;
}

.mid img {
  transform: translateX(-30%);
}

.bot img {
  transform: translateX(-50%);
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  /* Bump up size of carousel content */
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}

@media (min-width: 992px) {
  .container {
    padding-right: 0 !important;
    padding-left: 0 !important;
    margin: 0;
    max-width: 100% !important;
  }

  .carousel-item {
    padding: 9rem 22rem;
  }
  .marketing {
    .pageTitle {
      font-size: 4rem;
    }
    .description {
      font-size: 1.3rem;
    }
  }

  .classname {
    h2 {
      font-size: 2.2rem;
    }
  }
  .featurette {
    p {
      margin-left: 50px;
      font-size: 1rem;
    }
    h2 {
      margin-left: 50px;
    }
  }
}

@media (min-width: 768px) {
  .container {
    padding-right: 0 !important;
    padding-left: 0 !important;
    margin: 0;
    max-width: 100% !important;
  }
}

.mb-5,
.my-5 {
  margin-bottom: 0 !important;
}
.mt-5,
.my-5 {
  margin-top: 0 !important;
}
@media all and (min-width: 576px) {
  .jumbotron {
    padding: 0;
    margin: 0;
  }
}

img,
svg {
  width: 100% !important;
}

footer {
  width: 90% !important;
  margin: 0 auto !important;
  background-color: #e5efec;
  .float-right {
    margin-bottom: 0 !important;
    padding-bottom: 10px;
  }
  p {
    margin-bottom: 0 !important;
    padding-bottom: 10px;
  }
}
