// Bootstrap variable overrides go first.
// See node_modules/bootstrap/scss/_variables.scss for all of the
// potential variables to customize.
// For example ...
$primary: #006341; // set the primary color to AC Green
<<<<<<< HEAD
$jumbotron-bg: white; // set the Jumbotron background to AC Green @10% tint
=======
$jumbotron-bg: #e5efec; // set the Jumbotron background to AC Green @10% tint
>>>>>>> master
$hr-border-color: #909390; // set the <hr> border colour to AC Charcoal @50% tint

// Load the main bootstrap framework.
@import '../node_modules/startbootstrap-business-casual/scss/business-casual';

// Custom styles that are common for all pages in our project
<<<<<<< HEAD

// Load our custom partials with styles specific to a particular page.
// e.g. @import 'schedule';
// will import the '_schedule.scss' file with style specific to the schedule page.
html {
  scroll-behavior: smooth;
}

/* Carousel base class */
.carousel {
  margin-top: 0;
  margin-bottom: 0;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 15rem;
  margin-bottom: 2%;
}

.carousel-item>img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}

/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */


.col-lg-4 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.left,
.middle,
.right {
  width: 200px;
  height: 220px;
  z-index: 20;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.left {
  background-color: #033f67;
}

.middle {
  background-color: #d8881f;
}

.right {
  background-color: #284322;
}

.marketing {

  h2 {
    font-weight: 400;
  }

  .col-lg-4 {
    margin-bottom: 4rem;
    text-align: center;
  }
}

.title {
  color: white;
  margin-top: 7%;
  font-size: 1.3rem;
}

.pageTitle {
  margin-top: 3%;
  margin-left: 0;
}

.description {
  font-size: 1.3rem;
  margin-top: 2%;
}

// overlay
#overlay {
  position: fixed;
  display: none;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #d8881f;
  z-index: 500;
  /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer;
  /* Add a pointer on hover */
}


.content {
  position: relative;
  height: 100%;
  width: 100%;
}

.inner {
  position: absolute;
  top: 60px;
  bottom: 30px;
  overflow-x: hidden;
  overflow-y: scroll;
}

.imgholder {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.banner {
  margin: -18% 0;
  margin-bottom: 0;
}

.classname {
  margin-left: 10%;
  background-color: rgb(211, 211, 211);
  width: 80%;
  padding-top: 1%;
  padding-bottom: 1%;
}


.featurette {
  margin-left: 10%;
  margin-right: 10%;
}

.featurette p,
h2 {
  margin-left: 5%;
}

.featurette h2 {
  margin-top: 4%;
}

.mid p {
  margin-right: 5%;
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 400;
  line-height: 1;
  letter-spacing: -.05rem;
}

.col-md-5 {
  transform: translateX(40%);
  margin-top: 5%;
}

.top,
.bot {
  background-color: rgb(240, 255, 240);
  padding-bottom: 2%;
}

.bot ul {
  margin-left: 10%;
}

.bot h2 {
  margin-bottom: 5%;

}

.bot {
  padding-top: 2%;
}

.mid {
  background-color: #033f67;
  color: white;
  padding-top: 1%;
  padding-bottom: 2%;
}

.mid img {
  transform: translateX(-30%);
}

.bot img {
  transform: translateX(-50%);
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  /* Bump up size of carousel content */
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}
=======
@import 'coursePage';
// Load our custom partials with styles specific to a particular page.
// e.g. @import 'schedule';
// will import the '_schedule.scss' file with style specific to the schedule page.
>>>>>>> master
