// Bootstrap variable overrides go first.
// See node_modules/bootstrap/scss/_variables.scss for all of the
// potential variables to customize.
// For example ...
$primary: #006341; // set the primary color to AC Green
$jumbotron-bg: white; // set the Jumbotron background to AC Green @10% tint
$jumbotron-bg: #e5efec; // set the Jumbotron background to AC Green @10% tint
$hr-border-color: #909390; // set the <hr> border colour to AC Charcoal @50% tint

// Load the main bootstrap framework.
@import '../node_modules/bootstrap/scss/bootstrap';

// Custom styles that are common for all pages in our project

// Load our custom partials with styles specific to a particular page.
// e.g. @import 'schedule';
// will import the '_schedule.scss' file with style specific to the schedule page.

// Load our custom partials with styles specific to a particular page.
// e.g. @import 'schedule';
// will import the '_schedule.scss' file with style specific to the schedule page.
@import 'extras';
