// Bootstrap variable overrides go first.
// See node_modules/bootstrap/scss/_variables.scss for all of the
// potential variables to customize.
// For example ...
$primary: #006341; // set the primary color to AC Green
$jumbotron-bg: white; // set the Jumbotron background to AC Green @10% tint
$hr-border-color: #909390; // set the <hr> border colour to AC Charcoal @50% tint

// Load the main bootstrap framework.
@import '../node_modules/bootstrap/scss/bootstrap';

// Custom styles that are common for all pages in our project

// Load our custom partials with styles specific to a particular page.
// e.g. @import 'schedule';
// will import the '_schedule.scss' file with style specific to the schedule page.

/* Carousel base class */
.carousel {
  margin-top: 0;
  margin-bottom: 0;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 15rem;
  margin-bottom: 2%;
}

.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}

/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 4rem;
  text-align: center;
}

.col-lg-4 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.left,
.middle,
.right {
  width: 200px;
  height: 220px;
  z-index: 999;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.left {
  background-color: #033f67;
}

.middle {
  background-color: #d8881f;
}

.right {
  background-color: #284322;
}

.marketing h2 {
  font-weight: 400;
}

.title {
  color: white;
  margin-top: 12px;
  font-size: 1.3rem;
}

.description {
  font-size: 1.3rem;
  margin-top: 3%;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  /* Bump up size of carousel content */
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}
